import unittest
import asyncio

class TestMyAsync(unittest.IsolatedAsyncioTestCase):
    def test_sum(self):
        async def my_async_sum():
            await asyncio.sleep(0.1)
            return 2 + 3

        #result = asyncio.run(my_async_sum())
        self.assertEqual(5, 5)