<?xml version="1.0" encoding="UTF-8"?>
<Window type="main" layout="application/view/layout/base.html" >
    {% if user %}
    <Row background="#f8f8f8" class="w-100"  margin="m-0" padding="p-0" >
        <Column background="#fbfbfb" height="48px" padding="py-1" margin="m-0" class="border-bottom">
            <Column>
                <Graph src="static/logo.svg" height="40px" />
            </Column>
            <Column expand="dynamic" alignment-horizontal="center" >
                <Action type="dropdown" border="end" id="lazio" >
                    <Action id="nn1" route="application/view/page/company/overview.xml" click="move(target:'nn1',place:'lazio-btn')" alignment-content="horizontal" ><Graph icon="bi-buildings-fill"/><Text padding="px-1">Colosso</Text></Action>
                    <Action id="nn2" route="application/view/page/company/overview.xml" click="move(target:'nn2',place:'lazio-btn')" alignment-content="horizontal" ><Graph icon="bi-person-fill"/><Text padding="px-1">SottoMonte</Text></Action>
                </Action>
                <Action route="application/view/page/inventory/overview.xml" class="d-inline-flex"><Graph icon="bi-basket3-fill"/><Text padding="px-1">Inventory</Text></Action>
                <Action route="application/view/page/cubute/overview.xml" class="d-inline-flex"><Graph icon="bi-shield-fill"/><Text padding="px-1">Security</Text></Action>
                <Action route="application/view/page/cubute/overview.xml" class="d-inline-flex"><Graph icon="bi-easel-fill"/><Text padding="px-1">Monitoring</Text></Action>
                <Action route="application/view/page/cubute/overview.xml" class="d-inline-flex"><Graph icon="bi-box-fill"/><Text padding="px-1">Developer</Text></Action>
                <Action route="application/view/page/project/overview.xml" class="d-inline-flex"><Graph icon="bi-kanban-fill"/><Text padding="px-1">Planning</Text></Action>
            </Column>
            <Column padding="pe-4" content="end" alignment-horizontal="center" >
                <Action id="button3" size="sm" init="offcanvas(target:'button3',act:'open',id:'#profile')"  padding="p-0">
                    <Column alignment-vertical="center" >
                        <Action  link="#tab-notifications" data-bs-toggle="tab" padding="p-0">
                            <Graph icon="bi-inbox-fill" color="white"/> 
                        </Action>
                        <Graph icon="bi-question-circle-fill" color="white"/>
                        <Graph src="{{ user.avatar or 'static/logo.svg' }}" margin="mx-2" width="40px" height="40px" class="rounded-2 border" />
                        <Text>{{ user.username or 'NaM' }}</Text>
                    </Column>  
                </Action>
                <Window id="profile" type="canvas" title="Logout" >
                    <Column alignment="center" height="47px">
                        <Action id="p-close" size="sm" init="offcanvas(target:'p-close',act:'close')" >
                            <Column alignment="center">
                                <Graph src="{{ user.avatar or 'static/logo.svg' }}" height="40px" class="rounded-2 border" />
                                <Text color="black" >{{ user.username or 'NaM' }}</Text>
                            </Column>
                        </Action>
                        <Action id="button2" icon="REMOVE" size="auto" link="#exampleModal" class=" d-inline" ><Graph icon="bi-box-arrow-right"/></Action>
                    </Column>
                    <Container class="border-top" padding="p-0">
                        <!-- TabNav -->
                        <Group type="nav" margin="m-0" padding="p-0" class="border-bottom">
                            <Action link="#contracts" data-bs-toggle="tab"><Graph icon="bi-person-fill-gear"/><Text class="text-uppercase">Profile</Text></Action>
                            <Action link="#credit-notes" data-bs-toggle="tab"><Graph icon="bi-wallet-fill"/><Text class="text-uppercase">Wallet</Text></Action>
                            <Action link="#invoices" data-bs-toggle="tab"><Graph icon="bi-key-fill"/><Text class="text-uppercase">API</Text></Action>
                            <Action link="#tab-notifications" data-bs-toggle="tab"><Graph icon="bi-inbox-fill"/><Text class="text-uppercase">Box</Text></Action>
                        </Group>
                        <!-- Tab -->
                        <Group type="tab">
                            <Container id="contracts">
                                <Text>1</Text>
                            </Container>
                            <Container id="invoices">
                                <Text>2</Text>
                            </Container>
                            <Container id="credit-notes">
                                <Text>3</Text>
                            </Container>
                            <Container id="calls">
                                <Text>4</Text>
                            </Container>
                            <Container id="tab-notifications">
                                <Text>5</Text>
                            </Container>
                            <Container id="historical">
                                <Text>6</Text>
                            </Container>
                        </Group>
                    </Container>
                </Window>
                <Window id="exampleModal" type="modal" position="centered" size="sm" title="Logout" action="logout">
                    <View url="application/view/content/form/logout.xml" />
                </Window>
            </Column>
        </Column>
        <Column id="main" expand="full" margin="mb-auto" padding="p-0" class="overflow-auto" >
            
        </Column>
        <Footer></Footer>
    </Row>
    {% else %}
    <View url="application/view/page/auth/login.xml" />
    {% endif %}
</Window>