<?xml version="1.0" encoding="UTF-8"?>
<Container color="#f8f8f8" size="expand" margin="m-0" padding="p-0" >
    <Nav color="#fbfbfb" padding="px-5;py-1" margin="m-0" class="border-bottom" style="z-index:0;position:unset;">
        <Column>
            <Img src="/static/logo.svg" height="30px" />
        </Column>
        <Column>
            <Route url="application/view/page/orakom/test.xml"><Icon icon="bi-people-fill"/><Text>Colosso</Text></Route>
            <Route url="application/view/component/editor.xml"><Icon icon="bi-basket3-fill"/><Text>Inventory</Text></Route>
            <Route url=""><Icon icon="bi-shield-fill"/><Text>Security</Text></Route>
            <Route url=""><Icon icon="bi-easel-fill"/><Text>Monitoring</Text></Route>
            <Route url=""><Icon icon="bi-mortarboard-fill"/><Text>Academy</Text></Route>
            <Route url=""><Icon icon="bi-chat-dots-fill"/><Text>Social</Text></Route>
            <Route url=""><Icon icon="bi-rocket-takeoff-fill"/><Text>Partnership</Text></Route>
            <Route url=""><Icon icon="bi-bank2"/><Text>Forum</Text></Route>
            <Route url=""><Icon icon="bi-bag-fill"/><Text>Market</Text></Route>
            <Route url=""><Icon icon="bi-building-fill"/><Text>Data Center</Text></Route>
        </Column>
        <Column size="auto" content="end" alignment="center" >
            <Button id="button3" data-bs-toggle="offcanvas" size="sm" data-bs-target="#profile" padding="p-0">
                <Column alignment="center">
                    <Icon icon="bi-inbox-fill" color="white"/>
                    <Icon icon="bi-question-circle-fill" color="white"/>
                    <Img src="{{ user.avatar or 'static/logo.svg' }}" margin="mx-2" width="40px" height="40px" class="rounded-2 border" />
                    <Text >{{ user.username or 'NaM' }}</Text>
                </Column>  
            </Button>
            <Window id="exampleModal" position="centered" size="sm" title="Logout" action="logout">
                <View url="application/view/content/form/logout.xml" />
            </Window>
            <Window id="profile" type="canvas" title="Logout" >
                <Column alignment="center">
                    <Button size="sm" data-bs-dismiss="offcanvas" >
                        <Column alignment="center">
                        <Img src="{{ user.avatar or 'static/logo.svg' }}" margin="mx-2" width="40px" height="40px" class="rounded-2 border" />
                        <Text color="black" >{{ user.username or 'NaM' }}</Text>
                        </Column>
                    </Button>
                    <Button id="button2" icon="REMOVE" size="sm" target="#exampleModal" class=" d-inline" ><Icon icon="bi-box-arrow-right"/></Button>
                </Column>
                <Container class="border-top">

                </Container>
            </Window>
        </Column>
    </Nav>
    <Container id="main" type="main" size="expand" margin="mb-auto" padding="p-0" class="overflow-auto" >
        
    </Container>
    <Container type="footer" color="#f1f1f1" class="border-top" size="fluid">
        <Container color="body">
            <Column content="center">
                <Text>Colosso Copyright © 2023. All rights reserved. </Text>
                <Text>Created with BuilderApp by Colosso</Text>
                <Text>Version 0.1.0</Text>
            </Column>
        </Container>
    </Container>
</Container>