<!DOCTYPE html>
<html data-navigation-type="default" data-navbar-horizontal-shape="default" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
  
  
        <!-- ===============================================-->
        <!--    Document Title-->
        <!-- ===============================================-->
        <title>{{ title or '@Title' }}</title>
  

  
    </head>
    <body>
        <!-- ===============================================-->
        <!--    Main Content-->
        <!-- ===============================================-->
        <main class="main" id="top">
            <form id="form-login" action="/login" method="POST" padding="p-2">
                <input name="username" padding="pb-2" />
                <Input type="password" name="password" padding="pb-2" />
                <button type="submit">Accedi</button>
            </form>
            
        </main>
    </body>
</html>