{% extends "base.html" %}
{% block main %}
<div id="loading" class="d-flex justify-content-center align-items-center position-fixed w-100 h-100" style="background: #444;">
    <img class="img" src="static/logo.svg" style=" height:50px;">
    <div class="spinner-border text-success" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
</div>
{% endblock %}
{% block style %}
<style type="text/css" media="screen">
  html,body{
    height:100%;
  }
  .editor { 
    width: 100%;
    height: 500px; /* Imposta l'altezza del contenitore dell'editor */
  }
</style>
<style>

.tree {
  --spacing: 1.5rem;
  --radius: 10px;
}

.tree li {
  display: block;
  position: relative;
  padding-left: calc(2 * var(--spacing) - var(--radius) - 2px);
}

.tree ul {
  padding-left: 0px !important;
  margin-left: calc(var(--radius) - var(--spacing));
  
}

.tree ul li {
  border-left: 2px solid #ddd;
}

.tree ul li:last-child {
  border-color: transparent;
}

.tree ul li::before {
  content: '';
  display: block;
  position: absolute;
  top: calc(var(--spacing) / -2);
  left: -2px;
  width: calc(var(--spacing) + 2px);
  height: calc(var(--spacing) + 1px);
  border: solid #ddd;
  border-width: 0 0 2px 2px;
}

.tree summary {
  display: block;
  cursor: pointer;
}

.tree summary::marker,
.tree summary::-webkit-details-marker {
  display: none;
}

.tree summary:focus {
  outline: none;
}

.tree summary:focus-visible {
  outline: 1px dotted #000;
}

.tree li::after,
.tree summary::before {
  content: '';
  display: block;
  position: absolute;
  top: calc(var(--spacing) / 2 - var(--radius));
  left: calc(var(--spacing) - var(--radius) - 1px);
  width: calc(2 * var(--radius));
  height: calc(2 * var(--radius));
  border-radius: 50%;
  background: #ddd;
}

.tree summary::before {
  z-index: 1;
  background: #696 url('expand-collapse.svg') 0 0;
}

.tree details[open] > summary::before {
  background-position: calc(-2 * var(--radius)) 0;
}

.btn {
  --bs-btn-border-width:0px;
  --bs-btn-hover-color:#2fcc76;
  --bs-btn-active-color:#2fcc76;
}

.btn:focus::after,
.btn:active::after,.btn.active {
  border-bottom: 5px solid #2fcc76;
}

/* other */
    .nested {
        padding: 4px 0;
        border: 1px groove #bbb;
    }

    .item {
        padding: 8px;
    }

  /* Stile di default per l'elemento di destinazione */
  .drop-target {
    border: 2px dashed transparent;
  }

  /* Stile quando l'elemento è sopra la destinazione (bordo evidenziato) */
  .drop-target.highlight {
    border-color: #4caf50;
    border-width: 2px;
    margin: 2px;
  }
</style>
{% endblock %}
{% block body_script %}
<script>
  const showNewToasts = () => {
    const toasts = document.querySelectorAll('.toast:not(.shown)');

    toasts.forEach(toastEl => {
      toastEl.classList.add('shown'); // per evitare di mostrarlo due volte
      const toast = new bootstrap.Toast(toastEl);
      toast.show();
    });
  };

  // Mostra quelli esistenti subito
  document.addEventListener('DOMContentLoaded', showNewToasts);

  // Osserva nuovi nodi nel DOM
  const observer = new MutationObserver(showNewToasts);
  observer.observe(document.body, { childList: true, subtree: true });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.5/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
  /*function updateDragula() {
    // Seleziona tutti gli elementi con classe 'editor'
    var editors = document.querySelectorAll('.editor');
    
    // Itera su ogni elemento con la classe 'editor'
    editors.forEach(function(editorElement) {
      // Ottieni l'id dell'elemento
      var editorId = editorElement.id;
      
      // Inizializza o aggiorna l'istanza ACE per ciascun editor con il suo id
      if (editorId && !editorElement._ace) {
        // Inizializza ACE solo se non è già stato fatto
        //var aceEditor = ace.edit(editorId);

        var aceEditor = ace.edit(editorId, {
        mode: "ace/mode/python",
        autoScrollEditorIntoView: true,
        minLines: 100,
        hasCssTransforms: true,
        });
        
        // Memorizza l'istanza ACE nell'elemento (per evitare di crearne più di una)
        editorElement._ace = aceEditor;
      }
    });
  }

  // Crea un MutationObserver per rilevare le modifiche al DOM
  var observer = new MutationObserver(function(mutations) {
      mutations.forEach(function(mutation) {
          if (mutation.addedNodes.length || mutation.removedNodes.length) {
          updateDragula();
          }
      });
  });

  // Configura l'osservatore per monitorare le modifiche ai figli
  var config = { childList: true, subtree: true };

  // Avvia l'osservazione del nodo radice
  observer.observe(document.body, config);*/
</script>
<script>
    /*// Inizializza Dragula
    var drake = dragula([].slice.apply(document.querySelectorAll('.nested')));

    // Funzione per aggiornare Dragula con i nuovi elementi
    function updateDragula() {
        drake.containers = [].slice.apply(document.querySelectorAll('.nested'));
    }

    // Crea un MutationObserver per rilevare le modifiche al DOM
    var observer = new MutationObserver(function(mutations) {
        mutations.forEach(function(mutation) {
            if (mutation.addedNodes.length || mutation.removedNodes.length) {
            updateDragula();
            }
        });
    });

    // Configura l'osservatore per monitorare le modifiche ai figli
    var config = { childList: true, subtree: true };

    // Avvia l'osservazione del nodo radice
    observer.observe(document.body, config);*/
</script>
{% endblock %}
{% block head_script %}
<script>
    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
    //ev.dataTransfer.setData("text", 'drag1');
    }

    function drop(ev) {
        ev.preventDefault();
        //var data = ev.dataTransfer.getData("text");
        ev.target.appendChild(document.getElementById('img'));
    }
</script>
<script src="https://cdn.jsdelivr.net/pyodide/v0.27.0/full/pyodide.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>
<script type="module">
  import { createClient } from 'https://cdn.jsdelivr.net/npm/@supabase/supabase-js/+esm';
</script>
<script>
            // init pyodide and show sys.version when it's loaded successfully
            async function main() {
                let pyodide = await loadPyodide({
                    indexURL: "https://cdn.jsdelivr.net/pyodide/v0.27.0/full/",
                });
                await pyodide.loadPackage("micropip");
                const micropip = pyodide.pyimport("micropip");
                await micropip.install('kink');
                
                await micropip.install('tomli');
                await micropip.install('jinja2');
                await micropip.install('untangle');
                await micropip.install('aiofiles');
                await micropip.install('bs4');
                
                /*const dirHandle = await window.showDirectoryPicker();
                const permissionStatus = await dirHandle.requestPermission({
                  mode: "readwrite",
                });

                if (permissionStatus !== "granted") {
                  throw new Error("readwrite access to directory not granted");
                }

                const nativefs = await pyodide.mountNativeFS("/mount_dir", dirHandle);*/

                pyodide.runPython(await (await fetch("framework/service/language.py")).text());
                
                pyodide.runPython(await (await fetch("static/app.py")).text());
                
                return pyodide;
            }

            // run the main function
            let pyodideReadyPromise = main();

            async function evaluatePython(test) {
                let pyodide = await pyodideReadyPromise;
                try {
                    pyodide.runPython(`
                        import io
                        sys.stdout = io.StringIO()
                    `);
                    let result = pyodide.runPython(test);
                    let stdout = pyodide.runPython("sys.stdout.getvalue()");
                    //console.log(stdout);
                } catch (err) {
                    console.log(err);
                }
            }
</script>
{% endblock %}
