{% extends "base.html" %}
{% block main %}
<div id="loading" class="d-flex justify-content-center align-items-center position-fixed w-100 h-100" style="background: #444;">
    <img class="img" src="static/logo.svg" style=" height:50px;">
    <div class="spinner-border text-success" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
</div>
{% endblock %}
{% block style %}
<style>
    .btn.active {
        border: 1px solid transparent;
        border-bottom: 1px solid #000;
    }

    .btn:active, .btn:focus {
        border: 1px solid transparent !important;
        border-bottom: 1px solid #000 !important;
    }

    
    
/* other */
    .nested {
        padding: 4px 0;
        border: 1px groove #bbb;
    }

    .item {
        padding: 8px;
    }
</style>
{% endblock %}
{% block body_script %}
<script>
    // Inizializza Dragula
    var drake = dragula([].slice.apply(document.querySelectorAll('.nested')));

    // Funzione per aggiornare Dragula con i nuovi elementi
    function updateDragula() {
        drake.containers = [].slice.apply(document.querySelectorAll('.nested'));
    }

    // Crea un MutationObserver per rilevare le modifiche al DOM
    var observer = new MutationObserver(function(mutations) {
        mutations.forEach(function(mutation) {
            if (mutation.addedNodes.length || mutation.removedNodes.length) {
            updateDragula();
            }
        });
    });

    // Configura l'osservatore per monitorare le modifiche ai figli
    var config = { childList: true, subtree: true };

    // Avvia l'osservazione del nodo radice
    observer.observe(document.body, config);
</script>
{% endblock %}
{% block head_script %}
<script>
    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
    //ev.dataTransfer.setData("text", 'drag1');
    }

    function drop(ev) {
        ev.preventDefault();
        //var data = ev.dataTransfer.getData("text");
        ev.target.appendChild(document.getElementById('img'));
    }
</script>
<script src="https://cdn.jsdelivr.net/pyodide/v0.20.0/full/pyodide.js"></script>
<script>
            // init pyodide and show sys.version when it's loaded successfully
            async function main() {
                let pyodide = await loadPyodide({
                    indexURL: "https://cdn.jsdelivr.net/pyodide/v0.20.0/full/",
                });
                await pyodide.loadPackage("micropip");
                const micropip = pyodide.pyimport("micropip");
                await micropip.install('kink');
                await micropip.install('tomli');
                await micropip.install('jinja2');
                await micropip.install('untangle');
                
                pyodide.runPython(await (await fetch("framework/service/language.py")).text());
                pyodide.runPython(await (await fetch("static/app.py")).text());
                
                return pyodide;
            }

            // run the main function
            let pyodideReadyPromise = main();

            async function evaluatePython(test) {
                let pyodide = await pyodideReadyPromise;
                try {
                    pyodide.runPython(`
                        import io
                        sys.stdout = io.StringIO()
                    `);
                    let result = pyodide.runPython(test);
                    let stdout = pyodide.runPython("sys.stdout.getvalue()");
                    //console.log(stdout);
                } catch (err) {
                    console.log(err);
                }
            }
</script>
{% endblock %}
